@page "/dashboard"
@rendermode InteractiveServer

<h3>Dashboard</h3>

<div class="dashboard-container">
    <!--Loop posts and display them one by one-->
    <div class="dashboard-post">
        <div class="username">
            <span>Username</span>
        </div>
        <div class="post">
            <p style="margin-left: 5px;">First post</p>
        </div>
        <div class="footer">
            <i class="fa fa-comment icon-comment"><span style="margin-left: 5px;">0</span></i>
            <i class="fas fa-thumbs-up icon-thumbsup"><span style="margin-left: 5px;">0</span></i>
            <i class="fas fa-thumbs-down icon-thumbsdown"><span style="margin-left: 5px;">0</span></i>
        </div>
    </div>
    <!--Loop posts and display them one by one-->
</div>

<style>
    .dashboard-container {
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 5px red; /*DEBUG*/
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard-post {
        font-family: Poppins;
        border: solid 2px red; /*DEBUG*/
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard-post .username {
        margin: 1%;
        align-self: flex-start;
    }

    .dashboard-post .post {
        border: solid 2px red; 
        margin-left: 5%;
        margin-right: 5%;
        width: 85%;
        align-self: flex-end;
    }

    .dashboard-post .footer {
        display: flex;
        justify-content: space-around;
        align-self: center;
        margin-top: 10px;
        font-size: 20px;
    }

    .dashboard-post .footer i {
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .dashboard-post .footer .icon-comment:hover {
        color: blue;
        cursor: pointer;
    }

    .dashboard-post .footer .icon-thumbsup:hover {
        color: lime;
        cursor: pointer;
    }

    .dashboard-post .footer .icon-thumbsdown:hover {
        color: red;
        cursor: pointer;
    }

    font-face {
        font-family: "Poppins";
        src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto&amp;display=swap");
        font-weight: bold;
    }
</style>

@code {

}
