<div class="dashboard-buttons-container">
    <button class="dashboard-buttons">Home</button>
</div>

<style>
    .dashboard-buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 0.2%;
        margin-left: auto;
        width: 25%;
    }

    .dashboard-buttons {
    }
</style>

@code {

}
