@using Services.Users
@using Services.Posts
@using OPC5_BlogApp.Data.Models
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel.DataAnnotations.Schema
@inject IUserService userService
@inject IPostService postService
@rendermode InteractiveServer

<form class="dashboard-poster">
    <div>
        <div class="form-group">
            <label for="postContent">Post Content</label>
            <textarea id="postContent" class="form-control" @bind="newPost.PostData" rows="3"></textarea>
        </div>

        <button style="margin-top: 15px;" type="submit" class="btn btn-success" @onclick="HandlePost">Post</button>

    </div>
</form>

<style>
    .dashboard-poster {
        width: 100%;
        background-color: #212121;
        border: 1px solid white;
        padding: 10px;

        margin-bottom: 5%;
    }
</style>

@code {
    private User currentUser = new User();
    private Post newPost = new Post();

    private void HandlePost()
    {
        if (newPost.PostData == null)
        {
            Console.WriteLine("Returning since no message was entered.");
            StateHasChanged();

            return;
        }

        postService.AddPost(newPost);
        newPost = new Post();

        StateHasChanged();
    }
}

