@page "/Post/PostVote"
@using Services.Users
@using Services.Posts
@using OPC5_BlogApp.Data.Models;
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel.DataAnnotations.Schema
@inject IUserService userService
@inject IPostService postService
@rendermode InteractiveServer

@if (Post != null)
{
    <div>
        <!-- Röstknappar -->
        <button type="button" class="btn btn-primary" @onclick="() => AddUpvote(Post.PostId)">↑</button>
        <button type="button" class="btn btn-warning" @onclick="() => AddDownvote(Post.PostId)">↓</button>

        <!-- Röststatus -->
        <p role="status">↑: @Post.PostUpvotes</p>
        <p role="status">↓: @Post.PostDownvotes</p>
    </div>
}

@code {
    [Parameter]
    public Post Post { get; set; }

    private void AddUpvote(int postId)
    {
        var updatedPost = postService.AddPostUpvote(postId);
        if (updatedPost != null)
        {
            Post = updatedPost;
            StateHasChanged();
        }
    }

    private void AddDownvote(int postId)
    {
        var updatedPost = postService.AddPostDownvote(postId);
        if (updatedPost != null)
        {
            Post = updatedPost;
            StateHasChanged();
        }
    }
}
