<div class="searchbar-container">
    <input class="searchbar" type="text" placeholder="Sök..." />
</div>

<style>
    .searchbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 0.2%;
        margin-right: auto;
        width: 25%;
    }

    .searchbar {
        border-radius: 25px;
        background-color: #f5f9fa;
        padding: 10px;
    }
</style>

@code {

}
