@page "/Post/TestPost"
@using Services.Users
@using Services.Posts
@using OPC5_BlogApp.Data.Models
@inject IUserService userService
@inject IPostService postService

<PageTitle>Test Posts</PageTitle>

@if (posts == null)
{
    <p>Loading posts...</p>
}
else
{
    @foreach (var post in posts)
    {
        <div style="border:1px solid darkgray; border-radius:5px; padding:10px; margin-bottom:10px;">
            <p>@post.PostData</p>
            <PostVote Post="@post" />
        </div>
    }
}

@code {
    private List<Post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Task.Run(() => postService.GetPosts());
    }
}
